{% extends 'spotify/base/base.html' %}
{% block title %}Жанры{% endblock title %}


{% block content %}
    <h1>Жанр: {{ genres.name }}</h1>
    <div class="musics">
        {% for music in musics %}
            <a href="{% url 'music_detail' pk=music.pk %}">
            <div class="genre">
                <span><img src="{{ music.image.url }}"></span>
                <div class="genres_content">
                    <span>{{ music.name }}</span>
                </div>
            </div>
            {% empty %}
                <p>Музыки пока нет</p>
            </a>
        {% endfor %}
    </div>
{% endblock content %}